// The Azure region to deploy resources to.
location = "westus3"

// The name of the AKS cluster.
cluster_name = "private-cluster"

// The name of the resource group.
resource_group_name = "rg-private-cluster"